[submodule "tino"]
	path = tino
	url = .
	branch = tino
[submodule "master.libsodium"]
	path = master.libsodium
	url = https://github.com/jedisct1/libsodium.js.git
[submodule "master.json-js"]
	path = master.json-js
	url = https://github.com/douglascrockford/JSON-js.git
