[submodule "tino"]
	path = tino
	url = .
	branch = tino
[submodule "libsodium.master"]
	path = libsodium.master
	url = https://github.com/jedisct1/libsodium.js.git
[submodule "json-js.master"]
	path = json-js.master
	url = https://github.com/douglascrockford/JSON-js.git
